In [83]:
import pandas as pd
from google.colab import drive

In [84]:
# Importar base de dados

df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Datasets/Base de dados projeto cricket.xlsx')
df.head(5)

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,9994,9800+,5860,29,13,7,626,6
1,AC Voges (AUS),2015-2016,20,31,7,1485,269*,6187,2667,5568,5,4,2,186,5
2,RG Pollock (SA),1963-1970,23,41,4,2256,274,6097,1707+,5448,7,11,1,246,11
3,GA Headley (WI),1930-1954,22,40,4,2190,270*,6083,416+,5600,10,5,2,104,1
4,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,6073,6558+,3459,16,23,2,202,6

In [60]:
df.shape

(65, 15)

In [85]:
# Renomear colunas para melhor compreensão dos dados
df= df.rename(columns = {'NO': 'Not_Out', 'HS': 'Highets_Inns_Score', 'BF': 'Balls_Faced', 'SR': 'Batting_Strike_Rate', 'Mat': 'Matches'})
df.head(10)

,Player,Span,Matches,Inns,Not_Out,Runs,Highets_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,9994,9800+,5860,29,13,7,626,6
1,AC Voges (AUS),2015-2016,20,31,7,1485,269*,6187,2667,5568,5,4,2,186,5
2,RG Pollock (SA),1963-1970,23,41,4,2256,274,6097,1707+,5448,7,11,1,246,11
3,GA Headley (WI),1930-1954,22,40,4,2190,270*,6083,416+,5600,10,5,2,104,1
4,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,6073,6558+,3459,16,23,2,202,6
5,E Paynter (ENG),1931-1939,20,31,5,1540,243,5923,1288+,4588,4,7,3,125,4
6,KF Barrington (ENG),1955-1968,82,131,15,6806,256,5867,4957+,4242,20,35,5,591,27
7,ED Weekes (WI),1948-1958,48,81,5,4455,207,5861,-,0,15,19,6,258,2
8,WR Hammond (ENG),1927-1947,85,140,16,7249,336*,5845,7491+,3807,22,24,4,419,27
9,GS Sobers (WI),1954-1974,93,160,21,8032,365*,5778,4063+,5358,26,30,12,593,32

In [86]:
# Verificar valores nulos

df.isnull().any()

Player                 False
Span                   False
Matches                False
Inns                   False
Not_Out                False
Runs                   False
Highets_Inns_Score     False
Ave                    False
Balls_Faced            False
Batting_Strike_Rate    False
100                    False
50                     False
0                      False
4s                     False
6s                     False
dtype: bool

In [87]:
# Substituir - por 0 na coluna Balls_Faced
df['Balls_Faced'] = df['Balls_Faced'].replace('-', 0)
print(df.Balls_Faced)

0     9800+
1      2667
2     1707+
3      416+
4     6558+
      ...
60    15525
61    15525
62    3118+
63    3217+
64    2110+
Name: Balls_Faced, Length: 65, dtype: object

In [88]:
# Eliminar duplicatas
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
60    False
61     True
62    False
63    False
64    False
Length: 65, dtype: bool

In [89]:
# Identificar linhas duplicadas
df[df['Player'].duplicated()==1]

,Player,Span,Matches,Inns,Not_Out,Runs,Highets_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
56,TT Samaraweera (SL),2001-2013,81,132,20,5462,231,4876,11641,4692,14,30,11,633,7
61,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,4825,15525,5967,27,38,11,1165,24

In [90]:
# Eliminar duplicatas
df= df.drop_duplicates()

In [91]:
# Separar Span em data de início e data final
df['Span'].str.split(pat = '-')

0     [1928, 1948]
1     [2015, 2016]
2     [1963, 1970]
3     [1930, 1954]
4     [1924, 1935]
          ...
59    [1965, 1981]
60    [2002, 2014]
62    [1924, 1934]
63    [1930, 1938]
64    [1928, 1934]
Name: Span, Length: 63, dtype: object

In [92]:
df['Rokie_Year'] = df['Span'].str.split(pat = '-').str[0]

In [93]:
df['Final_Season'] = df['Span'].str.split(pat = '-').str[1]
df.head()

,Player,Span,Matches,Inns,Not_Out,Runs,Highets_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rokie_Year,Final_Season
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,9994,9800+,5860,29,13,7,626,6,1928,1948
1,AC Voges (AUS),2015-2016,20,31,7,1485,269*,6187,2667,5568,5,4,2,186,5,2015,2016
2,RG Pollock (SA),1963-1970,23,41,4,2256,274,6097,1707+,5448,7,11,1,246,11,1963,1970
3,GA Headley (WI),1930-1954,22,40,4,2190,270*,6083,416+,5600,10,5,2,104,1,1930,1954
4,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,6073,6558+,3459,16,23,2,202,6,1924,1935

In [94]:
# Eliminar coluna Span
df = df.drop(['Span'], axis = 1)

In [95]:
df.head()

,Player,Matches,Inns,Not_Out,Runs,Highets_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rokie_Year,Final_Season
0,DG Bradman (AUS),52,80,10,6996,334,9994,9800+,5860,29,13,7,626,6,1928,1948
1,AC Voges (AUS),20,31,7,1485,269*,6187,2667,5568,5,4,2,186,5,2015,2016
2,RG Pollock (SA),23,41,4,2256,274,6097,1707+,5448,7,11,1,246,11,1963,1970
3,GA Headley (WI),22,40,4,2190,270*,6083,416+,5600,10,5,2,104,1,1930,1954
4,H Sutcliffe (ENG),54,84,9,4555,194,6073,6558+,3459,16,23,2,202,6,1924,1935

In [96]:
# Separar informçãoes dos jogadores em uma coluna com seus nomes e seu país de origem
df['Country'] = df['Player'].str.split(pat = '(').str[1]
df['Country'] = df['Country'].str.split(pat = ')').str[0]
df.head()

,Player,Matches,Inns,Not_Out,Runs,Highets_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rokie_Year,Final_Season,Country
0,DG Bradman (AUS),52,80,10,6996,334,9994,9800+,5860,29,13,7,626,6,1928,1948,AUS
1,AC Voges (AUS),20,31,7,1485,269*,6187,2667,5568,5,4,2,186,5,2015,2016,AUS
2,RG Pollock (SA),23,41,4,2256,274,6097,1707+,5448,7,11,1,246,11,1963,1970,SA
3,GA Headley (WI),22,40,4,2190,270*,6083,416+,5600,10,5,2,104,1,1930,1954,WI
4,H Sutcliffe (ENG),54,84,9,4555,194,6073,6558+,3459,16,23,2,202,6,1924,1935,ENG

In [97]:
df['Player'] = df['Player'].str.split(pat = '(').str[0]
df.head()

,Player,Matches,Inns,Not_Out,Runs,Highets_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rokie_Year,Final_Season,Country
0,DG Bradman,52,80,10,6996,334,9994,9800+,5860,29,13,7,626,6,1928,1948,AUS
1,AC Voges,20,31,7,1485,269*,6187,2667,5568,5,4,2,186,5,2015,2016,AUS
2,RG Pollock,23,41,4,2256,274,6097,1707+,5448,7,11,1,246,11,1963,1970,SA
3,GA Headley,22,40,4,2190,270*,6083,416+,5600,10,5,2,104,1,1930,1954,WI
4,H Sutcliffe,54,84,9,4555,194,6073,6558+,3459,16,23,2,202,6,1924,1935,ENG

In [98]:
# Alterar o tipo dos dados
df.dtypes

Player                 object
Matches                 int64
Inns                    int64
Not_Out                 int64
Runs                    int64
Highets_Inns_Score     object
Ave                     int64
Balls_Faced            object
Batting_Strike_Rate     int64
100                     int64
50                      int64
0                       int64
4s                      int64
6s                      int64
Rokie_Year             object
Final_Season           object
Country                object
dtype: object

In [99]:
df['Highets_Inns_Score'] = df['Highets_Inns_Score'].apply(lambda x: x.replace('*', '') if isinstance(x, str) else x)
print(df.Highets_Inns_Score)

0     334
1     269
2     274
3     270
4     194
     ...
59    250
60    277
62    266
63    232
64    127
Name: Highets_Inns_Score, Length: 63, dtype: object

In [100]:
df['Highets_Inns_Score']= pd.to_numeric(df['Highets_Inns_Score'], errors='coerce')

In [101]:
df.dtypes

Player                 object
Matches                 int64
Inns                    int64
Not_Out                 int64
Runs                    int64
Highets_Inns_Score      int64
Ave                     int64
Balls_Faced            object
Batting_Strike_Rate     int64
100                     int64
50                      int64
0                       int64
4s                      int64
6s                      int64
Rokie_Year             object
Final_Season           object
Country                object
dtype: object

In [103]:
df['Balls_Faced'] = df['Balls_Faced'].apply(lambda x: x.replace('+', '') if isinstance(x, str) else x)
print(df.Balls_Faced)

0      9800
1      2667
2      1707
3       416
4      6558
      ...
59     8662
60    15525
62     3118
63     3217
64     2110
Name: Balls_Faced, Length: 63, dtype: object

In [105]:
df['Balls_Faced'] = df['Balls_Faced'].astype('int')
df.dtypes

Player                 object
Matches                 int64
Inns                    int64
Not_Out                 int64
Runs                    int64
Highets_Inns_Score      int64
Ave                     int64
Balls_Faced             int64
Batting_Strike_Rate     int64
100                     int64
50                      int64
0                       int64
4s                      int64
6s                      int64
Rokie_Year             object
Final_Season           object
Country                object
dtype: object

In [114]:
df = df.astype({'Rokie_Year': 'int', 'Final_Season': 'int'})
df.dtypes

Player                 object
Matches                 int64
Inns                    int64
Not_Out                 int64
Runs                    int64
Highets_Inns_Score      int64
Ave                     int64
Balls_Faced             int64
Batting_Strike_Rate     int64
100                     int64
50                      int64
0                       int64
4s                      int64
6s                      int64
Rokie_Year              int64
Final_Season            int64
Country                object
dtype: object

In [115]:
df['Batting_Strike_Rate'] = df['Batting_Strike_Rate'].astype('float')
df.dtypes

Player                  object
Matches                  int64
Inns                     int64
Not_Out                  int64
Runs                     int64
Highets_Inns_Score       int64
Ave                      int64
Balls_Faced              int64
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                        int64
4s                       int64
6s                       int64
Rokie_Year               int64
Final_Season             int64
Country                 object
dtype: object

In [116]:
# Adicionar uma coluna com o total de anos de carreira no esporte
df['Career_Lenght'] = df['Final_Season'] - df['Rokie_Year']
print(df.Career_Lenght)

0     20
1      1
2      7
3     24
4     11
      ..
59    16
60    12
62    10
63     8
64     6
Name: Career_Lenght, Length: 63, dtype: int64

In [120]:
# Média de anos de carreira
media = round(df['Career_Lenght'].mean(),2)
print(f"A média de anos de carreira dos jogadores é {media} anos.")

A média de anos de carreira dos jogadores é 13.03 anos.

In [121]:
# Batting_Strike_Rate de jogadores com mais de 10 anos de carreira
media_batting = round(df[df['Career_Lenght'] > 10]['Batting_Strike_Rate'].mean(), 2)
print(f"A média de Batting Strike Rate para jogadores com mais de 10 anos de carreira é {media_batting}")

A média de Batting Strike Rate para jogadores com mais de 10 anos de carreira é 4795.66

In [123]:
# Total de jogadores que jogaram antes de 1960
total_jogadores = df[df['Rokie_Year'] < 1960]['Player'].count()
print(f"O total de jogadores que jogaram antes de 1960 é {total_jogadores}")

O total de jogadores que jogaram antes de 1960 é 23

In [133]:
# Maior Highest Inns Score por país
inns_country = df.groupby('Country')['Highets_Inns_Score'].max().to_frame('Highinncountry').reset_index().sort_values('Highinncountry', ascending = False)
print(inns_country)

    Country  Highinncountry
5    ICC/WI             400
0       AUS             380
10       SL             374
11       WI             365
1       ENG             364
3   ICC/PAK             329
2   ICC/IND             319
8       PAK             313
9        SA             278
4    ICC/SA             277
6       IND             254
7        NZ             251
12      ZIM             232